.navbar, .navbar-brand, .navbar-default {
  background-color: $secondary-color;
  opacity: 0.9;

  .active {
    background-color: $mid-font;
  }

  a, .fa {
    opacity: 1.0;
    color: $light-font !important;

    &:hover {
      color: $primary-color !important;
      background-color: $dark-font !important;
    }
  }
}

.navbar-brand {
  background: none;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom-color: $primary-color;
  border-bottom-style: solid;
  border-bottom-width: 5px;

  a:focus {
    background-color: $mid-font !important;
  }
}

.navbar-toggle {
  background-color: $secondary-color;
}

.icon-bar {
  background-color: $light-font;
}
