.jumbotron {
  padding: 20px;
}

.jumbotron.blog-header,
.jumbotron.tags-header {
  padding: 30px !important;
  color: $light-font;
  background-color: $secondary-color;
  border-style: solid;
  border-color: $primary-color;
  border-width: 5px 0 0 0;

  h2 {
    margin-top: 0px;
  }

  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.blog-header {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  opacity: 0.75;

  h2, h4 {
    text-align: center;
    opacity: 1;
  }
}

.banner-head {
  height: 400px;
  background-image: url('/Coffee.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 15px;
}
