.portfolio .row .col-sx-12 {
  display: flex;
  flex-flow: row wrap;
}

.project {
  margin-bottom: 50px;
  width: 600px;

  @media screen and (max-width: 700px) {
    width: 400px;
  }

  .project-body {
    .images {
      display: flex;
      flex-flow: column wrap;
    }

    img {
      box-shadow: 2px 2px 1px #888888;
      margin: 15px;
    }
  }

  .tags {
    margin: 15px 0 20px;
  }

  .tags .tag:not( :last-child ) {
    margin-right: 5px;
  }

  .tag {
    display: inline-block;
    background: $primary-color;
    color: #333;
    border-radius: 3px;
    padding: 2px 6px;
    text-decoration: none;
  }

  .tag:hover {
    background: $secondary-color;
    color: #fff;
  }

  .images img {

  }
}
